{% extends 'seoul_map/base.html' %}

{% block content%}
{% load static %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script>

    // 일별 확진자추이 line-chart
    var config = {
        type: 'line',
        data: {
            labels: {{datetime_list|safe}},
            datasets: [{
                label: '인원 (명)',
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: {{daily_incdec_list|safe}},
                fill: false,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: ''
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };

    //시도별 확진자추이 bar-chart
    var color = Chart.helpers.color;
    var barChartData = {
        labels: {{area_list|safe}},
        datasets: [{
            label: '인원 (명)',
            backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
            borderColor: window.chartColors.red,
            borderWidth: 1,
            data: {{area_daily_incdec_list|safe}}
        }]

    };

    window.onload = function() {
        var ctx = document.getElementById('line-chart').getContext('2d');
        window.myLine = new Chart(ctx, config);

        var ctx = document.getElementById('bar-chart').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: '지역별 확진자 추이'
                },
            }
        });
    };
</script>



    <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">서울시 현황</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-size:100px font-weight-bold text-primary text-uppercase mb-1">확진자 수</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ defcnt }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-size:100px font-weight-bold text-success text-uppercase mb-1">격리해제 수(완치자 수)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{isolclearcnt}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-size:100px font-weight-bold text-info text-uppercase mb-1">검사진행 수</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{isolingcnt}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-size:100px font-weight-bold text-warning text-uppercase mb-1">사망자 수</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ deathcnt }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->


            <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">확진자 추이 지도</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" >
                  <div class="chart-area" style="padding: 0; height: 700px" >
                      <!-- 여기가 한국 전국 지도 -->
                      <iframe width="100%" height="100%" src="../seoul-map" id="append-folium" frameborder="0" scrolling="no" style="-webkit-transform:scale(1);-moz-transform-scale(1);">지원하지 않는 브라우저 입니다.</iframe>
                    <canvas id="korea-map"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>




            <div class="row">

            <!-- Line Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">일별 확진자 추이</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="line-chart">

                    </canvas>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-6">
              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">지역별 확진자 추이</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="bar-chart">

                    </canvas>
                  </div>
                </div>
              </div>
            </div>


          </div>



      </div>
      <!-- End of Main Content -->

{% endblock %}